<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">-->
<!--<mapper namespace="com.izuul.springsecurity.dao.mybatis.VacationMapper">-->
<!--    <resultMap id="BaseResultMap" type="com.izuul.springsecurity.entity.activity.Vacation">-->
<!--        &lt;!&ndash;@mbg.generated&ndash;&gt;-->
<!--        <id column="id" jdbcType="VARCHAR" property="id"/>-->
<!--        <result column="assignee" jdbcType="VARCHAR" property="assignee"/>-->
<!--        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>-->
<!--        <result column="end_date" jdbcType="TIMESTAMP" property="endDate"/>-->
<!--        <result column="end_time" jdbcType="TIMESTAMP" property="endTime"/>-->
<!--        <result column="explanation" jdbcType="VARCHAR" property="explanation"/>-->
<!--        <result column="first_agree" jdbcType="BIT" property="firstAgree"/>-->
<!--        <result column="first_approve_desc" jdbcType="VARCHAR" property="firstApproveDesc"/>-->
<!--        <result column="first_approver" jdbcType="VARCHAR" property="firstApprover"/>-->
<!--        <result column="instance_id" jdbcType="VARCHAR" property="instanceId"/>-->
<!--        <result column="operator" jdbcType="VARCHAR" property="operator"/>-->
<!--        <result column="operator_id" jdbcType="VARCHAR" property="operatorId"/>-->
<!--        <result column="operators" jdbcType="VARCHAR" property="operators"-->
<!--                typeHandler="com.izuul.springsecurity.util.handler.MyTypeHandler"/>-->
<!--        <result column="process_name" jdbcType="VARCHAR" property="processName"/>-->
<!--        <result column="second_agree" jdbcType="BIT" property="secondAgree"/>-->
<!--        <result column="second_approve_desc" jdbcType="VARCHAR" property="secondApproveDesc"/>-->
<!--        <result column="second_approver" jdbcType="VARCHAR" property="secondApprover"/>-->
<!--        <result column="start_date" jdbcType="TIMESTAMP" property="startDate"/>-->
<!--        <result column="status" jdbcType="VARCHAR" property="status"/>-->
<!--        <result column="submit" jdbcType="BIT" property="submit"/>-->
<!--        <result column="task_id" jdbcType="VARCHAR" property="taskId"/>-->
<!--        <result column="task_name" jdbcType="VARCHAR" property="taskName"/>-->
<!--        <result column="total_day" jdbcType="DOUBLE" property="totalDay"/>-->
<!--    </resultMap>-->
<!--    <sql id="Base_Column_List">-->
<!--        &lt;!&ndash;@mbg.generated&ndash;&gt;-->
<!--        id, assignee, create_time, end_date, end_time, explanation, first_agree, first_approve_desc,-->
<!--        first_approver, instance_id, `operator`, operator_id, operators, process_name, second_agree,-->
<!--        second_approve_desc, second_approver, start_date, `status`, submit, task_id, task_name,-->
<!--        total_day-->
<!--    </sql>-->
<!--    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">-->
<!--        &lt;!&ndash;@mbg.generated&ndash;&gt;-->
<!--        select-->
<!--        <include refid="Base_Column_List"/>-->
<!--        from vacation-->
<!--        where id = #{id,jdbcType=VARCHAR}-->
<!--    </select>-->
<!--    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">-->
<!--        &lt;!&ndash;@mbg.generated&ndash;&gt;-->
<!--        delete from vacation-->
<!--        where id = #{id,jdbcType=VARCHAR}-->
<!--    </delete>-->
<!--    <insert id="insert" parameterType="com.izuul.springsecurity.entity.activity.Vacation">-->
<!--        &lt;!&ndash;@mbg.generated&ndash;&gt;-->
<!--        insert into vacation (id, assignee, create_time,-->
<!--        end_date, end_time, explanation,-->
<!--        first_agree, first_approve_desc, first_approver,-->
<!--        instance_id, `operator`, operator_id,-->
<!--        operators, process_name, second_agree,-->
<!--        second_approve_desc, second_approver, start_date,-->
<!--        `status`, submit, task_id,-->
<!--        task_name, total_day)-->
<!--        values (#{id,jdbcType=VARCHAR}, #{assignee,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},-->
<!--        #{endDate,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, #{explanation,jdbcType=VARCHAR},-->
<!--        #{firstAgree,jdbcType=BIT}, #{firstApproveDesc,jdbcType=VARCHAR}, #{firstApprover,jdbcType=VARCHAR},-->
<!--        #{instanceId,jdbcType=VARCHAR}, #{operator,jdbcType=VARCHAR}, #{operatorId,jdbcType=VARCHAR},-->
<!--        #{operators,javaType=java.lang.String,jdbcType=VARCHAR}, #{processName,jdbcType=VARCHAR}, #{secondAgree,jdbcType=BIT},-->
<!--        #{secondApproveDesc,jdbcType=VARCHAR}, #{secondApprover,jdbcType=VARCHAR}, #{startDate,jdbcType=TIMESTAMP},-->
<!--        #{status,jdbcType=VARCHAR}, #{submit,jdbcType=BIT}, #{taskId,jdbcType=VARCHAR},-->
<!--        #{taskName,jdbcType=VARCHAR}, #{totalDay,jdbcType=DOUBLE})-->
<!--    </insert>-->
<!--    <insert id="insertSelective" parameterType="com.izuul.springsecurity.entity.activity.Vacation">-->
<!--        &lt;!&ndash;@mbg.generated&ndash;&gt;-->
<!--        insert into vacation-->
<!--        <trim prefix="(" suffix=")" suffixOverrides=",">-->
<!--            <if test="id != null">-->
<!--                id,-->
<!--            </if>-->
<!--            <if test="assignee != null">-->
<!--                assignee,-->
<!--            </if>-->
<!--            <if test="createTime != null">-->
<!--                create_time,-->
<!--            </if>-->
<!--            <if test="endDate != null">-->
<!--                end_date,-->
<!--            </if>-->
<!--            <if test="endTime != null">-->
<!--                end_time,-->
<!--            </if>-->
<!--            <if test="explanation != null">-->
<!--                explanation,-->
<!--            </if>-->
<!--            <if test="firstAgree != null">-->
<!--                first_agree,-->
<!--            </if>-->
<!--            <if test="firstApproveDesc != null">-->
<!--                first_approve_desc,-->
<!--            </if>-->
<!--            <if test="firstApprover != null">-->
<!--                first_approver,-->
<!--            </if>-->
<!--            <if test="instanceId != null">-->
<!--                instance_id,-->
<!--            </if>-->
<!--            <if test="operator != null">-->
<!--                `operator`,-->
<!--            </if>-->
<!--            <if test="operatorId != null">-->
<!--                operator_id,-->
<!--            </if>-->
<!--            <if test="operators != null">-->
<!--                operators,-->
<!--            </if>-->
<!--            <if test="processName != null">-->
<!--                process_name,-->
<!--            </if>-->
<!--            <if test="secondAgree != null">-->
<!--                second_agree,-->
<!--            </if>-->
<!--            <if test="secondApproveDesc != null">-->
<!--                second_approve_desc,-->
<!--            </if>-->
<!--            <if test="secondApprover != null">-->
<!--                second_approver,-->
<!--            </if>-->
<!--            <if test="startDate != null">-->
<!--                start_date,-->
<!--            </if>-->
<!--            <if test="status != null">-->
<!--                `status`,-->
<!--            </if>-->
<!--            <if test="submit != null">-->
<!--                submit,-->
<!--            </if>-->
<!--            <if test="taskId != null">-->
<!--                task_id,-->
<!--            </if>-->
<!--            <if test="taskName != null">-->
<!--                task_name,-->
<!--            </if>-->
<!--            <if test="totalDay != null">-->
<!--                total_day,-->
<!--            </if>-->
<!--        </trim>-->
<!--        <trim prefix="values (" suffix=")" suffixOverrides=",">-->
<!--            <if test="id != null">-->
<!--                #{id,jdbcType=VARCHAR},-->
<!--            </if>-->
<!--            <if test="assignee != null">-->
<!--                #{assignee,jdbcType=VARCHAR},-->
<!--            </if>-->
<!--            <if test="createTime != null">-->
<!--                #{createTime,jdbcType=TIMESTAMP},-->
<!--            </if>-->
<!--            <if test="endDate != null">-->
<!--                #{endDate,jdbcType=TIMESTAMP},-->
<!--            </if>-->
<!--            <if test="endTime != null">-->
<!--                #{endTime,jdbcType=TIMESTAMP},-->
<!--            </if>-->
<!--            <if test="explanation != null">-->
<!--                #{explanation,jdbcType=VARCHAR},-->
<!--            </if>-->
<!--            <if test="firstAgree != null">-->
<!--                #{firstAgree,jdbcType=BIT},-->
<!--            </if>-->
<!--            <if test="firstApproveDesc != null">-->
<!--                #{firstApproveDesc,jdbcType=VARCHAR},-->
<!--            </if>-->
<!--            <if test="firstApprover != null">-->
<!--                #{firstApprover,jdbcType=VARCHAR},-->
<!--            </if>-->
<!--            <if test="instanceId != null">-->
<!--                #{instanceId,jdbcType=VARCHAR},-->
<!--            </if>-->
<!--            <if test="operator != null">-->
<!--                #{operator,jdbcType=VARCHAR},-->
<!--            </if>-->
<!--            <if test="operatorId != null">-->
<!--                #{operatorId,jdbcType=VARCHAR},-->
<!--            </if>-->
<!--            <if test="operators != null">-->
<!--                #{operators,javaType=java.lang.String,jdbcType=VARCHAR},-->
<!--            </if>-->
<!--            <if test="processName != null">-->
<!--                #{processName,jdbcType=VARCHAR},-->
<!--            </if>-->
<!--            <if test="secondAgree != null">-->
<!--                #{secondAgree,jdbcType=BIT},-->
<!--            </if>-->
<!--            <if test="secondApproveDesc != null">-->
<!--                #{secondApproveDesc,jdbcType=VARCHAR},-->
<!--            </if>-->
<!--            <if test="secondApprover != null">-->
<!--                #{secondApprover,jdbcType=VARCHAR},-->
<!--            </if>-->
<!--            <if test="startDate != null">-->
<!--                #{startDate,jdbcType=TIMESTAMP},-->
<!--            </if>-->
<!--            <if test="status != null">-->
<!--                #{status,jdbcType=VARCHAR},-->
<!--            </if>-->
<!--            <if test="submit != null">-->
<!--                #{submit,jdbcType=BIT},-->
<!--            </if>-->
<!--            <if test="taskId != null">-->
<!--                #{taskId,jdbcType=VARCHAR},-->
<!--            </if>-->
<!--            <if test="taskName != null">-->
<!--                #{taskName,jdbcType=VARCHAR},-->
<!--            </if>-->
<!--            <if test="totalDay != null">-->
<!--                #{totalDay,jdbcType=DOUBLE},-->
<!--            </if>-->
<!--        </trim>-->
<!--    </insert>-->
<!--    <update id="updateByPrimaryKeySelective" parameterType="com.izuul.springsecurity.entity.activity.Vacation">-->
<!--        &lt;!&ndash;@mbg.generated&ndash;&gt;-->
<!--        update vacation-->
<!--        <set>-->
<!--            <if test="assignee != null">-->
<!--                assignee = #{assignee,jdbcType=VARCHAR},-->
<!--            </if>-->
<!--            <if test="createTime != null">-->
<!--                create_time = #{createTime,jdbcType=TIMESTAMP},-->
<!--            </if>-->
<!--            <if test="endDate != null">-->
<!--                end_date = #{endDate,jdbcType=TIMESTAMP},-->
<!--            </if>-->
<!--            <if test="endTime != null">-->
<!--                end_time = #{endTime,jdbcType=TIMESTAMP},-->
<!--            </if>-->
<!--            <if test="explanation != null">-->
<!--                explanation = #{explanation,jdbcType=VARCHAR},-->
<!--            </if>-->
<!--            <if test="firstAgree != null">-->
<!--                first_agree = #{firstAgree,jdbcType=BIT},-->
<!--            </if>-->
<!--            <if test="firstApproveDesc != null">-->
<!--                first_approve_desc = #{firstApproveDesc,jdbcType=VARCHAR},-->
<!--            </if>-->
<!--            <if test="firstApprover != null">-->
<!--                first_approver = #{firstApprover,jdbcType=VARCHAR},-->
<!--            </if>-->
<!--            <if test="instanceId != null">-->
<!--                instance_id = #{instanceId,jdbcType=VARCHAR},-->
<!--            </if>-->
<!--            <if test="operator != null">-->
<!--                `operator` = #{operator,jdbcType=VARCHAR},-->
<!--            </if>-->
<!--            <if test="operatorId != null">-->
<!--                operator_id = #{operatorId,jdbcType=VARCHAR},-->
<!--            </if>-->
<!--            <if test="operators != null">-->
<!--                operators = #{operators,javaType=java.lang.String,jdbcType=VARCHAR},-->
<!--            </if>-->
<!--            <if test="processName != null">-->
<!--                process_name = #{processName,jdbcType=VARCHAR},-->
<!--            </if>-->
<!--            <if test="secondAgree != null">-->
<!--                second_agree = #{secondAgree,jdbcType=BIT},-->
<!--            </if>-->
<!--            <if test="secondApproveDesc != null">-->
<!--                second_approve_desc = #{secondApproveDesc,jdbcType=VARCHAR},-->
<!--            </if>-->
<!--            <if test="secondApprover != null">-->
<!--                second_approver = #{secondApprover,jdbcType=VARCHAR},-->
<!--            </if>-->
<!--            <if test="startDate != null">-->
<!--                start_date = #{startDate,jdbcType=TIMESTAMP},-->
<!--            </if>-->
<!--            <if test="status != null">-->
<!--                `status` = #{status,jdbcType=VARCHAR},-->
<!--            </if>-->
<!--            <if test="submit != null">-->
<!--                submit = #{submit,jdbcType=BIT},-->
<!--            </if>-->
<!--            <if test="taskId != null">-->
<!--                task_id = #{taskId,jdbcType=VARCHAR},-->
<!--            </if>-->
<!--            <if test="taskName != null">-->
<!--                task_name = #{taskName,jdbcType=VARCHAR},-->
<!--            </if>-->
<!--            <if test="totalDay != null">-->
<!--                total_day = #{totalDay,jdbcType=DOUBLE},-->
<!--            </if>-->
<!--        </set>-->
<!--        where id = #{id,jdbcType=VARCHAR}-->
<!--    </update>-->
<!--    <update id="updateByPrimaryKey" parameterType="com.izuul.springsecurity.entity.activity.Vacation">-->
<!--        &lt;!&ndash;@mbg.generated&ndash;&gt;-->
<!--        update vacation-->
<!--        set assignee = #{assignee,jdbcType=VARCHAR},-->
<!--        create_time = #{createTime,jdbcType=TIMESTAMP},-->
<!--        end_date = #{endDate,jdbcType=TIMESTAMP},-->
<!--        end_time = #{endTime,jdbcType=TIMESTAMP},-->
<!--        explanation = #{explanation,jdbcType=VARCHAR},-->
<!--        first_agree = #{firstAgree,jdbcType=BIT},-->
<!--        first_approve_desc = #{firstApproveDesc,jdbcType=VARCHAR},-->
<!--        first_approver = #{firstApprover,jdbcType=VARCHAR},-->
<!--        instance_id = #{instanceId,jdbcType=VARCHAR},-->
<!--        `operator` = #{operator,jdbcType=VARCHAR},-->
<!--        operator_id = #{operatorId,jdbcType=VARCHAR},-->
<!--        operators = #{operators,javaType=java.lang.String,jdbcType=VARCHAR},-->
<!--        process_name = #{processName,jdbcType=VARCHAR},-->
<!--        second_agree = #{secondAgree,jdbcType=BIT},-->
<!--        second_approve_desc = #{secondApproveDesc,jdbcType=VARCHAR},-->
<!--        second_approver = #{secondApprover,jdbcType=VARCHAR},-->
<!--        start_date = #{startDate,jdbcType=TIMESTAMP},-->
<!--        `status` = #{status,jdbcType=VARCHAR},-->
<!--        submit = #{submit,jdbcType=BIT},-->
<!--        task_id = #{taskId,jdbcType=VARCHAR},-->
<!--        task_name = #{taskName,jdbcType=VARCHAR},-->
<!--        total_day = #{totalDay,jdbcType=DOUBLE}-->
<!--        where id = #{id,jdbcType=VARCHAR}-->
<!--    </update>-->
<!--</mapper>-->