<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <form th:action="@{/login}" method="post">
        <span th:if="${error}" th:text="${msg}" style="color: red"></span>
        <br>
        <label>
            用户名:
            <input name="username" type="text">
        </label>
        <br>
        <label>
            密码:
            <input name="password" type="password">
        </label>
        <br>
        <button>提交</button>
    </form>
</div>
</body>
</html>